<a href="#"><span class="icon-shareable"></span> {{name}} <span class="icon-chevron"></span> <span class="ring-uuid">{{uuid}}</span></a>
<div style="display:none;">
    <p class="date">last checked: {{lastChecked}}</p>
    <p class="date">last updated: {{lastUpdated}}</p>

    {{#each apis}}
        <div class="api-wrapper">

            {{#unless faulty}}
                <span class="icon-vinyl icon-healthy"></span>
            {{else}}
                <span class="icon-warning icon-faulty"></span>
            {{/unless}}

            <span class="api-path">{{path}}</span>
            <span class="api-host">{{host}}</span>
            <span class="api-type">{{type}}</span>

        </div>
    {{/each}}

</div>
