

<div id="PopupTemplate" class="PopupTemplate">
    <p class="location"><strong>{{location}}</strong></p>
    <p><span class="title">Services:</span> <span class="dot green-dot">{{servicesOKLength}}</span> <span class="dot red-dot">{{servicesKOLength}}</span></p>
    <p><span class="title">Apis:</span> <span class="dot green-dot">{{apiOKLength}}</span> <span class="dot red-dot">{{apiKOLength}}</span></p>
</div>
